
*{
  font-family: "Inter", sans-serif;
}

html {
  scrollbar-gutter: stable;
}

.specialAlltrees{
  background-color: transparent;
  color: black;
}

.all-tree:hover{
  background-color: #15803D;
  color: white;
}

.active{
  background-color: #15803D;
  color: #FACC15;
}
#spinner {
  transition: opacity 0.2s ease;
}


@import "tailwindcss"